/* imports */
/* fonts */
@font-face{
    font-family: poppins;
    src: url("./fonts/Poppins/Poppins-Black.ttf");
}
@font-face{
    font-family: poppinsblackitalic;
    src: url("./fonts/Poppins/Poppins-BlackItalic.ttf");
}
@font-face{
    font-family: poppinsbold;
    src: url("./fonts/Poppins/Poppins-Bold.ttf");
}
@font-face{
    font-family: poppinsbolditalic;
    src: url("./fonts/Poppins/Poppins-BoldItalic.ttf");
}
@font-face{
    font-family: poppinslight;
    src: url("./fonts/Poppins/Poppins-Light.ttf");
}
@font-face{
    font-family: poppinsextralight;
    src: url("./fonts/Poppins/Poppins-ExtraLight.ttf");
}
@font-face{
    font-family: pacifico;
    src: url("./fonts/Pacifico/Pacifico-Regular.ttf");
}
@font-face{
    font-family: hind;
    src: url("./fonts/Hind/Hind-Regular.ttf");
}
@font-face{
    font-family: satisfy;
    src: url("./fonts/Satisfy/Satisfy-Regular.ttf");
}
@font-face{
    font-family: jos;
    src: url("./fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

*,*::after,*::before{
    outline: none;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}

:root{
    /* colors */
    --color-green:#2ecc71;
    --color-turq:#1abc9c;
    --color-pomo:#e77e72;
    --color-cloud:#ecf0f1;
    --color-lavender:#D980FA;
    --color-med:#1289A7;
    --color-sunflower:#FFC312;
    --color-teal:#55E6C1;
    --color-black:rgb(40, 41, 40);
    --color-dark:rgba(15, 15, 15, 0.808);
    --color-orange:#ec5747d5;
    --color-slate:#2c3e50;
    --color-glamour:#ff7675;
    --color-blue:#74b9ff;

    /* fonts */
    --font-poppins:poppins;
    --font-poppinsbold:poppinsbold;
    --font-poppinsblackitalic:poppinsblackitalic;
    --font-poppinslight:poppinslight;
    --font-poppinsextralight:poppinsextralight;
    --font-jos:jos;
    --font-pacifico:pacifico;
    --font-satisfy:satisfy;
    --font-india:hind;
}

/* sizes  */
/* font-sizes */
.font-vsmall{
    font-size: 0.25rem;
}
.font-small{
    font-size: 0.5rem;
}
.font-regular{
    font-size: 1rem;
}
.font-large{
    font-size: 1.5rem;
}
.font-vlarge{
    font-size:2.5rem;
}

/* width sizes */
.small-width{
    width:25%;
}
.semi-width{
    width:50%;
}
.threequarter-width{
    width:75%;
}
.regular-width{
    width:100%
}
.one-onefourth-width{
    width:125%;
}
.vlarge-width{
    width:200%;
}

/* container sizes */
.container{
    display: flex;
    align-items: center;
}
.small-container-right{
    width:25%;
    padding:0.5rem;
    justify-content: flex-end;
}
.semi-container-right{
    width:50%;
    padding:0.5rem;
    justify-content: flex-end;
}
.threequarter-container-right{
    width:75%;
    padding:0.5rem;
    justify-content: flex-end;
}
.regular-container-right{
    width:100%;
    padding:0.5rem;
    justify-content: flex-end;
}
.small-container-left{
    width:25%;
    padding:0.5rem;
    justify-content: flex-start;
}
.semi-container-left{
    width:50%;
    padding:0.5rem;
    justify-content: flex-start;
}
.threequarter-container-left{
    width:75%;
    padding:0.5rem;
    justify-content: flex-start;
}
.regular-container-left{
    width:100%;
    padding:0.5rem;
    justify-content: flex-start;
}
/* globals */
a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--font-india);
    padding:0.2rem 0.5rem;
    color:var(--color-black);
    border-radius: 2px;
    background:var(--color-cloud);
    margin:0.12rem;
}
a:hover{
    box-shadow: 0 0 5px 2px var(--color-dark);
    transition: box-shadow 0.3s ease-in;
    background:var(--color-black);
    color:var(--color-cloud);
}
button{
    background:transparent;
    border-radius: 3px;
    border:2px solid var(--color-black);
    padding:0.3rem 1rem;
    font-weight:bold;
}
button:hover{
    background:var(--color-pomo);
    border:2px solid var(--color-pomo);
    box-shadow: 0 0 4px 1px var(--color-dark);
    cursor: pointer;
    transition: background 0.1s ease-out,
                border 0.2s ease-out;
}
nav{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:0.5rem;
    background:var(--color-cloud);
    border-radius:5px;
}

i{
    font-family: var(--font-poppinsblackitalic);
    font-weight: bold;
}
span{
    padding-right:0.2rem;
    padding-left:0.2rem;
    font-weight: bold;
}
input{
    flex:1;
    padding:0.5rem 1.2rem;
    border:none;
    border-bottom:2px solid var(--color-dark);
    margin:0 0.1rem;
    font-family: var(--font-india);
    font-weight: 600;
    background:transparent;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: var(--font-satisfy);
}
/* styles  */
/* gloabal colors  assignments*/

.background-blue{
    background:var(--color-blue) !important;
}
.background-orange{
    background:var(--color-orange) !important;
}
.background-dark{
    background:var(--color-dark) !important;
}
.background-black{
    background:var(--color-black) !important;
}
.background-glamour{
    background:var(--color-glamour) !important;
}
.background-med{
    background:var(--color-med) !important;
}
.background-slate{
    background:var(--color-slate) !important;
}
.background-teal{
    background:var(--color-teal) !important;
}
.background-sunflower{
    background:var(--color-sunflower) !important;
}
.background-lavender{
    background:var(--color-lavender) !important;
}
.background-cloud{
    background:var(--color-cloud) !important;
}
.background-teal{
    background:var(--color-teal) !important;
}
.background-turq{
    background:var(--color-turq) !important;
}
.background-green{
    background:var(--color-green) !important;
}

/* global styles for componenets */

.no-border-button{
    border:2px solid transparent;
}

/*  navbar */
.navbar-links-left{
    justify-content: flex-start;
}
.navbar-links-right{
    justify-content: flex-end;
}

/* buttons */
.signin,.signup{
    font-family: var(--font-pacifico);
    font-weight: normal;
}
.signin:hover,.signup:hover{
    border:2px solid transparent;
    color:var(--color-cloud);
}
.submit{
    padding:0.5rem 0.4rem;
}
.submit:hover{
    color:var(--color-cloud);
}

/* news letter subscribe form */
.newslettersignin{
    width:50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding:0.2rem;
    border-radius: 5px;
}
.newslettersignin input[type="email"]::placeholder{
    color:var(--color-dark);
}

/* social links container */
.social-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.5rem 0.75rem;
}
.social-link{
    padding:0.2rem 1.75rem;
    color:var(--color-slate);
}
.social-link:hover{
    color:var(--color-pomo);
    cursor: pointer;
    transition: color .3s ease-in;
}

/* links */
.link-active{
    display: inline-block;
    color:var(--color-green);
}
.link-deactive{
    display: inline-block;
    color:var(--color-lavender);
}
.link-quit{
    display: inline-block;
    color:var(--color-glamour);
}
.link-silent{
    display: inline-block;
    color:var(--color-slate);
}
